Property_Valuation_and_Assessment_Data_Tax_Classes_1_2_3_4.csv
nyc_property_assessment_data_2023.csv
rollingsales_queens.xlsx
rollingsales_brooklyn.xlsx
rollingsales_manhattan.xlsx
rollingsales_statenisland.xlsx
rollingsales_bronx.xlsx